# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [2]:
number=6
print(number)

6

##### Assinging float

In [4]:
numberFloat=2.3
print(numberFloat)

number_float=4.3
print(number_float)

# DON'T DO THIS THOUGH...

# number-float = 4.6

# print(number-float)

2.3
4.3

#### Performing Calculations on ints and floats

##### Addition

In [8]:
num1=2
num2=5.7
result= num1 + num2
print(result)

result +=2
print(result)

7.7
9.7

##### Subtraction

In [13]:
result_diff = num2-num1
print(result_diff)

result_diff -=2
result_diff

3.7

1.7000000000000002

##### Multiplication

In [19]:
num3 = 5
num4 = 10
result_prod=num3*num4
print(result_prod)
result_prod *=2
result_prod

50

100

##### Division

In [27]:
result_div=num4/num3
print(result_div)
result_div/=2
print(result_div)

2.0
1.0

##### Floor Division

In [32]:
result_floor = 5 // 2
print(result_floor)
my_list =[1,2,3,4,5]

middle_index=len(my_list) // 2

2

2.5

Modulo

In [34]:
result_mod = 5 % 2
result_mod

1

##### Exponential

In [37]:
square=5 ** 2
square

25

### String Input-Output

##### String Assignment

In [38]:
name="Kutah"
print(name)

Kutah

##### print() <br>
<p>Don't forget about end=' '</p>

In [43]:
print("This is my first name", name)
print("Full Name:",name, end=" Sillah")

This is my first name Kutah
Full Name: Kutah Sillah

##### String Concatenation

In [47]:
first="kutah"
last="Sillah"
full_name= first + " " + last
print(full_name)

kutah Sillah

##### Type Conversion

In [53]:
num="32"
change_type=(int(num))
print(type(change_type))

<class 'int'>

##### input()

In [54]:
age = input("what is your age?: ")
print(age)

what is your age?: 26
26

##### format()

In [58]:
age = input("what is your age?: ")
name = "Kutah"

result_string = "You are {} years old {} and you are getting wiser!".format(age,name)
print(result_string)

result_str= f'{age} is a great time in life'
print(result_str)

what is your age?: 26
You are 26 years old Kutah and you are getting wiser!
26 is a great time in life

##### Old Way (python 2)

In [60]:
result_str2 = "you are %s and you look great for your age!" %age
print( result_str2)

you are 26 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [64]:
color=input("what color is your car?")
make =input("what make is your car?")
model =input("what model is your car?")
year=input("what year is your car?")
car_result=f"You drive a {year} {make} {model} that is painted {color}! "
print(car_result)

what color is your car?blue
what make is your car?honda
what model is your car?cr-v
what year is your car?2018
You drive a 2018 honda cr-v that is painted blue!

### If Statements

In [67]:
num1 = 5
num2 = 10

if num1 == num2:
    print("Equal")
else:
    print("Not Equal")
    
if num1 > num2:
    print("num1 is greater")
elif num1<=num2:
    print( "num1 is less")
else:
    print('nada')

if num1 ==5 and num2>12:
    print("something")
else:
    print("nothing")
    
if num1 == 5 or num2> 12:
    print("something")
else: print("nothing")

Not Equal
num1 is less
nothing
something

'is' keyword

In [73]:
#use the is keyword when checking for a similar or same object, NOT necessarily the same value
num3 = 55
if num3 is 55:
    print("This is the exact object")

This is the exact object

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-73-51a45fe991ee>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num3 is 55:

##### 'in' keyword

In [75]:
char_name = "Max Payne"

if "Max" in char_name:
    print("The character who lost everything...")

The character who lost everything...

##### 'not in' keyword'

In [ ]:
char_name = "Max Payne"

if "kutah" not in char_name:
    print("The character who lost everything...")

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [77]:
name = input("What is your name?")
if "p" in name:
    print(True)

What is your name?kutah

## Using 'and'/'or' with If Statements

### Elif Statements

### Else Statements

### For Loops

In [83]:
for i in range(10):
    print(i)

name=" Kutah Sillah"

for i in name:
    print(i)

0
1
2
3
4
5
6
7
8
9

K
u
t
a
h

S
i
l
l
a
h

##### Using 'in' keyword

##### Continue Statement

In [2]:
# Will continue to the next iteration

In [84]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [3]:
# will break out of current loop

In [87]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [4]:
# mostly used as a placeholder, and will continue on same iteration

In [90]:
for i in range(20):
    pass

def func():
    pass

##### Double For Loops

In [92]:
for i in range(10):
    for j in range(5):
        print(f'i={i}, j={j}')

i=0, j=0
i=0, j=1
i=0, j=2
i=0, j=3
i=0, j=4
i=1, j=0
i=1, j=1
i=1, j=2
i=1, j=3
i=1, j=4
i=2, j=0
i=2, j=1
i=2, j=2
i=2, j=3
i=2, j=4
i=3, j=0
i=3, j=1
i=3, j=2
i=3, j=3
i=3, j=4
i=4, j=0
i=4, j=1
i=4, j=2
i=4, j=3
i=4, j=4
i=5, j=0
i=5, j=1
i=5, j=2
i=5, j=3
i=5, j=4
i=6, j=0
i=6, j=1
i=6, j=2
i=6, j=3
i=6, j=4
i=7, j=0
i=7, j=1
i=7, j=2
i=7, j=3
i=7, j=4
i=8, j=0
i=8, j=1
i=8, j=2
i=8, j=3
i=8, j=4
i=9, j=0
i=9, j=1
i=9, j=2
i=9, j=3
i=9, j=4

### While Loops

In [5]:
# while keyword, condition statement 
# based on the condition statement

##### Looping 'While True'

##### While & For Loops Used Together

### Built-In Functions

##### range()

In [6]:
#Start, Stop, Step

##### len()

In [7]:
# check length of variable

##### help()

In [8]:
# use this function to view more info about.a python function (With a DOCSTRING)

##### isinstance()

In [9]:
#Check for a variable to find out what Object family it belongs to 
# isinstance(var, type)

##### abs()

In [10]:
# | 5 | - distance from zero

### Try and Except

In [11]:
# use whenever you expect to encounter a bug so that the error doesn't cause the program to stop
# Use so that you can log out graceful and useful error messages

### Lists

##### Declaring Lists

##### Indexing a List

In [12]:
# [start: stop: step] -- [-1]

# Single Index 


# print starting at 1 going to the end


# Print starting at the beginning of list to the second index(NOT including)


# Print starting at index 1 going up by 2 in each iteration


#Print starting at the back and present in reverse order

##### .append()

In [13]:
# Add to the back of list

##### .insert()

In [14]:
#  list.insert(index,value)

##### .pop()

In [15]:
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable


##### .remove()

In [16]:
# value to be removed, not index

##### del()

In [17]:
# index to be removed, not value
# BE CAREFUL with del, can cause indexing errors if not used carefully

##### Concatenating Two Lists

In [18]:
# will append 2 lists together, not add up the elements in each list

##### Lists Within Lists

In [19]:
# lists are able to hold any type of element, including OTHER lists themselves
# They can also go as deep as you want, having many lists nested inside one another

##### Looping Through Lists

In [20]:
# two ways to loop through a list, one is by index, the other is by using the 'in' keyword

#loop with a for loop (by index)

    
# loop with a for loop (using the 'in' keyword)

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000, so if the cubed number is over 1000 break the loop.</p>

In [99]:
c=0
i=0
for i in range(20):
    c=i**3
    if c>1000:
        break
    else:
        print(c)

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [111]:
prime_nums=[]
for i in range(101):
    if i%2==0:
        continue
    else:
        not_even=True
        for j in range(2,i):
            if i%j ==0:
                not_even=False
                break
        if not_even==True:
                print(i)

1
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [101]:
age=int(input("How old are you?"))
if age<18:
    print("kids")
elif age<66:
    print("adults")
else:
    print("seniors")

How old are you?27
adults